.logo-wrapper{
  width: 25vw;
}
.name-wrapper{
  width: 50vw;
  text-align: center;
}
.navbar-wrapper{
  width: 25vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
